---
import { Icon } from "astro-icon";
import config from "../../config";
import SoccerGoal from "../componentsSvg/SoccerGoal.astro";
import Link from "../Link.astro";
---

<section class="pt-20 bg-gradient-to-tl from-slate-600 to-slate-900">
  <div
    class="p-4 box-border flex items-center justify-center gap-1 flex-col md:flex-row"
  >
    <article class="content">
      <div class="py-4 flex justify-center flex-col gap-3">
        <h2
          class="text-3xl sm:text-4xl m-0 lg:text-6xl h-auto pb-2 leading-none xl:text-7xl font-extrabold text-transparent bg-clip-text text-thirdary bg-gradient-to-br"
        >
          Pes 6 server manager
        </h2>
        <p class="text-lg m-0 text-slate-100 max-w-xl">
          Pes6 server manager helps its users to be able to have control of the
          servers where they play. In this way, with a few simple clicks, play
          PES 6 on the server of your choice. 💻⚽
        </p>
        <div class="m-0 flex flex-col sm:flex-row gap-3">
          <Link
            modifier="dark"
            href={`${config.baseUrlBackend}/psm/bin?version=0.0.1`}
            target="_blank"
            className="flex gap-1 items-center justify-center bg-primary"
            rel="noopener noreferrer"
          >
            <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

            Download Version Bin Latest
          </Link>
          <Link
            rel="noopener noreferrer"
            href="https://github.com/alejooroncoy/pes6-server-manager"
            className="flex gap-1 items-center justify-center bg-secondary p-2"
            target="_blank"
          >
            <Icon class="text-black w-5 h-5" name="bx:bxl-github" />
            Github Repo
          </Link>
        </div>
      </div>
    </article>
    <SoccerGoal className="w-full h-fit md:w-1/2 lg:w-auto" />
  </div>
</section>
