---
import HomeContact from "../components/Home/HomeContact.astro";
import HomeFeatures from "../components/Home/HomeFeatures.astro";
import HomeHero from "../components/Home/HomeHero.astro";
import HomeInstructions from "../components/Home/HomeInstructions.astro";
import HomeServers from "../components/Home/HomeServers.astro";
import HomeUltimate from "../components/Home/HomeUltimate.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home page ðŸ ">
  <main class="min-h-screen dark:bg-zinc-900">
    <HomeHero />
    <HomeServers />
    <HomeFeatures />
    <HomeInstructions />
    <HomeContact />
  </main>
</Layout>

<script src="../scripts/index.js"></script>
