---
import HomeHero from "../components/Home/HomeHero.astro";
import HomeServers from "../components/Home/HomeServers.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home page ðŸ ">
  <main class="min-h-screen">
    <HomeHero />
    <HomeServers />
  </main>
</Layout>
