---
import HomeContact from "../components/Home/HomeContact.astro";
import HomeFeatures from "../components/Home/HomeFeatures.astro";
import HomeHero from "../components/Home/HomeHero.astro";
import HomeInstructions from "../components/Home/HomeInstructions.astro";
import HomeServers from "../components/Home/HomeServers.astro";
import Wave from "../components/Wave.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home page ðŸ ">
  <main class="min-h-screen">
    <HomeHero />
    <Wave
      className="fill-gray-100 bg-gradient-to-bl from-slate-600 to-slate-900"
    />
    <HomeServers />
    <Wave className="fill-slate-900 bg-slate-100" />
    <HomeFeatures />
    <HomeInstructions />
    <Wave className="fill-slate-100 bg-slate-600" />
    <HomeContact />
  </main>
</Layout>

<script src="../scripts/index.js"></script>
