---
export interface Props {
  className: string;
  href: string;
  target?: string;
  rel?: string;
  modifier?: string;
}

const { modifier, className, ...props } = Astro.props;
---

<a
  class:list={[
    className,
    {
      "bg-black text-white": modifier === "dark",
    },
    "p-2 rounded transition-transform active:scale-95",
  ]}
  {...props}
>
  <slot />
</a>
