---
export interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<section>
  <figure class="-mb-2">
    <svg
      class:list={[className || "", "flex"]}
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill-opacity="1"
        d="M0,96L60,117.3C120,139,240,181,360,213.3C480,245,600,267,720,234.7C840,203,960,117,1080,90.7C1200,64,1320,96,1380,112L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
      ></path>
    </svg>
  </figure>
</section>
